{% extends 'base.html' %}

{% block header %}
  <h1 id="tittle_reg">{% block title %}LogIn{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method=post class="form">
    {% for message in get_flashed_messages() %}
        <div class="flash_2">{{ message }}</div>
    {% endfor %}
    <label class="name_f" for="username">Username</label>
    <input class="input" name="username" id="username" required>
    <label class="name_f" for="password">Password</label>
    <input class="input" type="password" name="password" id="password" required>
    <input class="submit_btn"type="submit" value="LogIn">
  </form>

{% endblock %}